body {height:5000px;}

.scroll-up {
  width: 50px;
  height: 50px;

  position: fixed;
  right: 50px;
  bottom: 53px;
  transform: translateY(55px);

  color: #dcdcdc;
  box-shadow: inset 0px 0px 0 4px #dcdcdc;
  border-radius: 50px;
  
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  z-index: 1000;
  transition: 0.2s;
}

.scroll-up::before {
  content: "⇞";
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  font-size: 30px;
}

.scroll-up:hover {
  color: orange;
  bottom: 50px;
}

.scroll-up-active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.scroll-up-svg-path {
  box-sizing: border-box;
  fill: rgb(0, 0, 0, 0);
  stroke: orange;
  stroke-width: 4px;
  transition: 0.2s;
}
