@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/* ---------- reset ---------- */

* { margin: 0; padding: 0; box-sizing: border-box; }
a { text-decoration: none; color: #fff; }
ul { list-style-type: none; }
img { max-width: 100%; object-fit: cover; }
button { border: none; }

/* ---------- /reset ---------- */

body {
	background-color: #111;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	padding: 150px 0;
}